


<div ng-app="crudModule">
    <div ng-controller="crudController">
  

<table class="table table-hover general-table">
    <thead class="grid-top-panel">
        <tr>
            <th style="display:none">StudentID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dataModel in customers">
            <td style="display:none">1</td>
            <td>{{dataModel.FirstName}}</td>
            <td> {{dataModel.LastName}}</td>
            <td>{{dataModel.Weight}}</td>
            <td>{{dataModel.Height}}</td>
            <td style="text-align:right; color:white">
                <span>
                    <span id="save" class="btn btn-primary margin-right-btn"
                          ng-click="GetStudentByID(dataModel)">
                        Edit
                    </span>
                </span>
            </td>
            <td style="text-align:right; color:white">
                <span>
                    <span id="save" class="btn btn-danger margin-right-btn"
                          ng-click="DeleteStudent(dataModel)">
                        Delete
                    </span>
                </span>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>
</div>
    </div>


